# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
.env/

# Dataset
/data/

# OS Files
.DS_Store
Thumbs.db

# PyTorch
*.pt
*.pth

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/
